node_modules/
.env
backend/.env
backend/uploads/
.dist/
backend/eng.traineddata
frontend/node_modules/
backend/node_modules/
*.log

*api key*.txt

extra info about internship scam project/

InternVeritas Scam Detection Platform/
PROJECT_STATUS.md
prompt.txt
website start terminal comaand .txt
